/* -- General -- */

.template-main-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.template-main-row {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.shadow-xl {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

#index-row {
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
}

/* -- Login -- */

#login-wrap {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 248, 255, 1) 38%,
    rgba(177, 239, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 248, 255, 1) 38%,
    rgba(177, 239, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 248, 255, 1) 38%,
    rgba(177, 239, 255, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#b1efff", GradientType=1);
  padding: 1.5rem;
  border-radius: 2.5rem;
}

#email {
  border-radius: 1rem 0 0 1rem;
}

#tgm-addon {
  border-radius: 0 1rem 1rem 0;
}

.input-group-append {
  border-radius: 0 1rem 1rem 0;
}

.input-group-text {
  border-radius: 0 1rem 1rem 0;
}

#password {
  border-radius: 1rem 1rem 1rem 1rem;
}

#r-email {
  height: 3rem;
  margin-bottom: 1.5rem;
}

#r-password {
  height: 3rem;
  margin-bottom: 0.5rem;
}

#forgotten-password {
  color: rgb(110, 110, 110);
}

#r-login {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#r-login-btn {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

#login-btn {
  font-family: "Rajdhani", sans-serif;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgba(177, 239, 255, 1);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#login-btn:hover {
  background-color: #2ec0e5;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0);
  color: #fff;
  transform: translateY(3px);
}

#lheading {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  color: rgb(110, 110, 110);
}

#lheading2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
}

#lsheading {
  font-size: larger;
  font-family: "Rajdhani", sans-serif;
}

.login-inputs {
  height: 3rem;
}

/* -- Index -- */


.dh {
  text-align: center;
  font-size: 1.5rem;
}

#dash-main-cont {
  height: 70vh;
}

#dash-row {
  height: 70vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

.dash-elem {
  background-color: rgb(255, 255, 255);
  height: 22%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.dash-elem:hover {
  background-color: #8ff2ff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.144);
  color: rgb(141, 141, 141);
  transform: translateY(3px);
}

#dash-row {
  border-radius: 6rem 6rem 6rem 6rem;
}

#new {
  border-radius: 6rem 6rem 6rem 6rem;
}

#all {
  border-radius: 6rem 6rem 6rem 6rem;
}

#current {
  border-radius: 6rem 6rem 6rem 6rem;
}

#news-main-cont {
  height: 70vh;
}

#news-main-cont-mobile {
  height: fit-content;
  margin-bottom: 30px;
}

#news-cont {
  border-radius: 6rem;
  height: 100%;
}

#news-cont-mobile {
  border-radius: 2rem;
  height: 100%;
}

#profile {
  max-height: 8rem;
  min-height: 4rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
}

#profile:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.144);
  color: rgb(141, 141, 141);
  transform: translateY(3px);
}

#logo {
  max-height: 8rem;
  min-height: 4rem;
}

#dash-img {
  z-index: -100;
}

#media-main-cont {
  /**height: 83vh;**/
  height: 100vh;
}

#media-row {
  /**height: 83vh;**/
  height: 100vh;
}

.ill-wrapper {
  height: 80%;
}

#all-ill {
  max-height: 100%;
}

.news-elem {
  min-height: 100px;
}

#news-cont {
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-left: 3rem;
  padding-right: 3rem;
}

#news-cont::-webkit-scrollbar {
  display: block;
  width: 5px;
}

#news-cont::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#news-cont::-webkit-scrollbar-thumb {
  background-color: #8ff2ff;
  border-right: none;
  border-left: none;
}

#news-cont::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

#news-cont::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

#news-cont-mobile {
  scrollbar-width: thin;
  padding-left: 3rem;
  padding-right: 3rem;
}

#news-cont-mobile::-webkit-scrollbar {
  display: block;
  width: 5px;
}

#news-cont-mobile::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#news-cont-mobile::-webkit-scrollbar-thumb {
  background-color: #8ff2ff;
  border-right: none;
  border-left: none;
}

#news-cont-mobile::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

#news-cont-mobile::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

/* NEWS-ELEMENT */

#news-h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#news-h2-mobile {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.news-elem-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.news-elem-row:hover {
  background-color: rgb(214, 214, 214);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.144);
  transform: translateY(3px);
}

.news-status {
  height: 50px;
  width: auto;
}

/* NEW-APPLICATION */

#new-application-heading {
  padding-left: 1rem;
  text-align: left;
}

#new-application-row {
  height: 100vh;
}

#na-srow {
  margin-top: 10%;
  margin-bottom: 5%;
}

.na-elem {
  background-color: rgb(255, 255, 255);
  height: 6rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.na-elem:hover {
  background-color: #8ff2ff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.144);
  color: rgb(141, 141, 141);
  transform: translateY(3px);
}

#school-button {
  border-radius: 3rem 3rem 0 0;
}

#na-elem-2 {
  margin-top: 2rem;
  border-radius: 0 0 3rem 3rem;
}

.na-elem-sr {
  height: 100%;
}

.na-elem-h {
  text-align: center;
}

.blueish-gradiant {
  font-family: "Rajdhani", sans-serif;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgba(177, 239, 255, 1);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.blueish-gradiant:hover {
  background-color: #2ec0e5;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0);
  color: #fff;
  transform: translateY(3px);
}
